@import "node_modules/bootstrap/scss/bootstrap";

@import "@fortawesome/fontawesome-free/scss/fontawesome";

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/brands";

html, body, div#app {
  background-color: #fafafa;
  height: 100%;
}
// .teste {
//   position: relative;
// }

// .instagram-story-gradient{
//   background: #000;
//   width: 66px;
//   height: 66px;
//   border-radius: 33px;
//   position: absolute;
//   left: -5px;
//   top: -5px;
//   z-index: 1;
// }
// .teste > img {
//   position: relative;
//   z-index: 2;
// }
// .teste {
//   width: 66px;
//   height: 66px;
// }