@import "node_modules/bootstrap/scss/bootstrap";

@import "@fortawesome/fontawesome-free/scss/fontawesome";

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/brands";

html, body, div#app {
  background-color: #fafafa;
  height: 100%;
}

.fade-enter-active, .fade-leave-active {
  opacity: 0;
  transition: opacity .25s ease;
}

.fade-enter-from, .fade-leave-to {
  opacity: 0;
}

.fade-enter-to {
  opacity: 1;
}